# streams-specific excludes
toolkit.xml
impl/nl/include/*.h
*.pm
.settings
.toolkitList
doc
# If you want to include a perl module, do
# !foo.pm


## java excludes
*.class

# exclude generated Java primitive operator model files
*$StreamsModel.java

# Package Files #
com.ibm.streamsx.json/lib/*.jar
com.ibm.streamsx.json/impl/lib/*.jar
*.war
*.ear

## C++ excludes
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# temporary directories
tmp

# test artifacts
test/result.txt
test/bin
com.ibm.streamsx.json/scripts/emotion.json
com.ibm.streamsx.json/scripts/report.json

.DS_Store
/**/.DS_Store
